.car{
    background-color: $black;
    display: flex;
    flex-direction: column ;
    align-items: center;


    &__btn{
        width: 20%;
        margin: 100px;
    }

    &__cont{
        width: 90%;
    background-color: $black;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    &__info{

        margin-left: 50px;;
        width: 60%;
        color: $white;
        display: flex;
        flex-direction: column;
    }

    &__name{
        text-align: left;
        font-family: $font;
        font-size: 26px;
        padding: 10px;
    }

    &__price{

        text-align: left;
        font-family: $font;
        font-size: 32px;
        padding: 10px;
    }

    &__btn{
        display: flex;
        flex-direction: column;
    }
}
.product__priceTotal{

    color:white;
}