@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0;
}

.hidden {
  display: none;
}

.navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navegation__image {
  margin-left: 50px;
  background-size: cover;
  cursor: pointer;
}

.navegation__sections {
  width: auto;
  margin-right: 150px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.navegation__a {
  font-size: 24px;
  color: inherit;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  padding: 50px;
}

.navegation__a:hover {
  color: #F22C07;
}

@media screen and (max-width: 900px) {
  .navegation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navegation__image {
    margin-left: 0px;
  }
  .navegation__sections {
    width: 60%;
    margin-left: 200px;
  }
  .navegation__a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .navegation__sections {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .navegation__a {
    font-size: 12px;
    padding: 20px;
  }
}

.principal {
  width: 100%;
}

.principal__image {
  width: 100%;
  height: 600px;
  background-image: url(../imagenes/pexels-pixabay-371924.jpg);
  background-size: cover;
}

.principal__text {
  width: 30%;
  height: 100px;
  justify-items: center;
  position: absolute;
  margin-left: 200px;
  margin-top: 80px;
}

.principal__p {
  height: 120px;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 900px) {
  .principal__image {
    height: 400px;
  }
  .principal__text {
    margin-left: 100px;
    margin-top: 100px;
  }
  .principal__p {
    height: 70px;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .principal__image {
    height: 200px;
  }
  .principal__text {
    width: 40%;
    margin-left: 50px;
    margin-top: 30px;
  }
  .principal__p {
    height: 50px;
    font-size: 12px;
  }
}

.buttons {
  font-size: 18px;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-family: "Questrial", sans-serif;
  background-color: #F22C07;
  color: white;
  border-color: transparent;
  -webkit-animation: 2s, ease-in;
          animation: 2s, ease-in;
  margin-right: 10px;
}

.buttons:hover {
  background-color: #F59402;
  -webkit-animation: 2s, ease-in-out;
          animation: 2s, ease-in-out;
}

.buttons--blacks {
  background-color: #5F5B5A;
  margin-right: 10px;
}

.buttons--blacks:hover {
  background-color: #4f4c4b;
}

.buttons--whithspace {
  margin: 50px;
}

.buttons--border {
  border-radius: 0px;
}

.buttons--small {
  width: 140px;
  height: 35px;
}

.product__delete {
  font-size: 18px;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-family: "Questrial", sans-serif;
  background-color: #F22C07;
  color: white;
  border-color: transparent;
  -webkit-animation: 2s, ease-in;
          animation: 2s, ease-in;
  margin-right: 5px;
  margin-bottom: 5px;
}

.product__delete:hover {
  background-color: #F59402;
  -webkit-animation: 2s, ease-in-out;
          animation: 2s, ease-in-out;
}

.product__edit {
  font-size: 18px;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-family: "Questrial", sans-serif;
  background-color: #F22C07;
  color: white;
  border-color: transparent;
  -webkit-animation: 2s, ease-in;
          animation: 2s, ease-in;
  margin-right: 10px;
}

.product__edit:hover {
  background-color: #F59402;
  -webkit-animation: 2s, ease-in-out;
          animation: 2s, ease-in-out;
}

.product__edit .product__car {
  font-size: 18px;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-family: "Questrial", sans-serif;
  background-color: #F22C07;
  color: white;
  border-color: transparent;
  -webkit-animation: 2s, ease-in;
          animation: 2s, ease-in;
  margin-right: 10px;
}

.product__edit .product__car:hover {
  background-color: #F59402;
  -webkit-animation: 2s, ease-in-out;
          animation: 2s, ease-in-out;
}

@media screen and (max-width: 900px) {
  .product__edit .buttons {
    font-size: 16px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
  }
  .product__edit .buttons--border {
    border-radius: 0px;
  }
  .product__edit .buttons--small {
    margin-left: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product__edit .product__delete {
    font-size: 16px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 8px;
  }
  .product__edit .product__edit {
    font-size: 16px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  .product__edit .buttons {
    font-size: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }
  .product__edit .buttons--border {
    border-radius: 0px;
  }
  .product__edit .buttons--small {
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product__edit .product__delete {
    font-size: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .product__edit .product__edit {
    font-size: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }
}

.interaction {
  width: 100%;
  height: 540px;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.interaction__image {
  margin-left: 20px;
  width: 50%;
  height: 500px;
  background-image: url(../imagenes/truetruetrue.png);
  background-size: cover;
  outline: none;
}

.interaction__info {
  width: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__text {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
}

.interaction__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .interaction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 780px;
  }
  .interaction__image {
    width: 85%;
    height: 700px;
  }
  .interaction__info {
    width: 80%;
  }
  .interaction__text {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .interaction {
    height: 450px;
  }
  .interaction__image {
    width: 80%;
    height: 200px;
  }
  .interaction__info {
    width: 80%;
  }
  .interaction__text {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .interaction__buttons {
    width: 100%;
  }
}

.characteristic {
  background-color: #1D1D1D;
  padding: 30px;
}

.characteristic--twobackground {
  background-color: #141414;
}

.characteristic__title {
  color: white;
  font-size: 36px;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.characteristic__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characteristic__image {
  width: 50%;
  height: 500px;
  background-size: cover;
  background-image: url(../imagenes/c1.png);
}

.characteristic__image--two {
  background-image: url(../imagenes/c2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.characteristic__image--three {
  background-image: url(../imagenes/c3.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.characteristic__text {
  margin: 40px;
  width: 50%;
  color: white;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .characteristic__title {
    color: white;
    font-size: 20px;
    margin: 20px;
  }
  .characteristic__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .characteristic__image {
    width: 60%;
    height: 300px;
  }
  .characteristic__image--two {
    margin-left: 150px;
  }
  .characteristic__image--three {
    height: 250px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .characteristic__text {
    width: 80%;
    margin: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .characteristic__title {
    font-size: 16px;
    margin: 10px;
  }
  .characteristic__image {
    width: 80%;
    height: 200px;
  }
  .characteristic__image--two {
    margin-left: 40px;
  }
  .characteristic__image--three {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
    background-size: cover;
  }
  .characteristic__text {
    width: 80%;
    margin: 0;
    font-size: 12px;
  }
}

.gallery {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.gallery__background {
  width: 70%;
  overflow: hidden;
}

.gallery__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.gallery__left {
  width: 15%;
  height: 100px;
  background-image: url(../imagenes/flecha2.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 60px;
}

.gallery__right {
  width: 15%;
  height: 100px;
  background-image: url(../imagenes/flechas.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 150px;
}

@media screen and (max-width: 900px) {
  .gallery {
    padding: 30px;
  }
  .gallery__left {
    width: 15%;
    height: 100px;
    margin-left: 30px;
  }
  .gallery__right {
    width: 15%;
    height: 100px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    padding: 20px;
  }
  .gallery__background {
    margin: 10px;
  }
  .gallery__left {
    width: 10%;
    height: 80px;
    margin-left: 0;
  }
  .gallery__right {
    width: 10%;
    height: 80px;
    margin-left: 10px;
  }
}

.promotion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1D1D1D;
}

.promotion__image {
  width: 60%;
  height: 600px;
  background-image: url(../imagenes/1591123763_maxresdefault.jpg);
  background-size: cover;
}

.promotion__info {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion__title {
  color: white;
  font-size: 36px;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding: 50px;
}

.promotion__paragraph {
  color: white;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding: 40px;
}

@media screen and (max-width: 900px) {
  .promotion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 750px;
  }
  .promotion__image {
    width: 100%;
    height: 480px;
  }
  .promotion__info {
    width: 100%;
  }
  .promotion__title {
    font-size: 24px;
    padding: 30px;
  }
  .promotion__paragraph {
    font-size: 16px;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .promotion {
    height: 350px;
  }
  .promotion__image {
    width: 100%;
    height: 190px;
  }
  .promotion__title {
    font-size: 16px;
    padding: 15px;
  }
  .promotion__paragraph {
    width: 80%;
    font-size: 12px;
    padding: 10px;
  }
}

.table {
  width: 100%;
  height: 500px;
  background-color: #5A5A5A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table__h1 {
  color: white;
  font-size: 32px;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

.table__image {
  position: absolute;
  width: 80%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../imagenes/decoration.png);
  margin-top: 120px;
  margin-left: 150px;
}

.table__important {
  width: 80%;
  border: 1px solid #000;
  padding: 30px;
}

.table__title {
  color: white;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #000;
}

.table__info {
  width: 50%;
  color: white;
  font-size: 22px;
  font-family: "Questrial", sans-serif;
  text-align: left;
  padding: 20px;
  padding-left: 50px;
  vertical-align: top;
  border: 1px solid #000;
}

.table__paragraph {
  width: 50%;
  color: white;
  font-size: 14px;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding: 20px;
  vertical-align: top;
  border: 1px solid #000;
}

@media screen and (max-width: 900px) {
  .table {
    width: 100%;
    height: 500px;
  }
  .table__h1 {
    font-size: 24px;
  }
  .table__image {
    width: 100%;
    height: 450px;
    margin-top: 70px;
    margin-left: 0;
  }
  .table__important {
    width: 80%;
    padding: 15px;
  }
  .table__title {
    font-size: 20px;
    padding: 10px;
  }
  .table__info {
    width: 50%;
    font-size: 16px;
    padding: 20px;
    padding-left: 50px;
  }
  .table__paragraph {
    width: 50%;
    font-size: 14px;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .table {
    width: 100%;
    height: 550px;
  }
  .table__h1 {
    font-size: 16px;
  }
  .table__image {
    display: none;
  }
  .table__important {
    width: 80%;
    padding: 15px;
  }
  .table__title {
    font-size: 16px;
    padding: 10px;
  }
  .table__info {
    width: 50%;
    font-size: 14px;
    padding: 20px;
    padding-left: 30px;
  }
  .table__paragraph {
    width: 50%;
    font-size: 10px;
    padding: 20px;
  }
}

.newspaper {
  width: 100%;
  height: 300px;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newspaper__title {
  width: 40%;
  color: white;
  font-size: 36px;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding: 50px;
}

.newspaper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newspaper__input {
  width: 80%;
}

@media screen and (max-width: 900px) {
  .newspaper__title {
    font-size: 24px;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .newspaper {
    height: 200px;
  }
  .newspaper__title {
    width: 50%;
    font-size: 18px;
    padding: 15px;
  }
}

.footer {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__sections {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  margin-left: 80px;
}

.footer__titles {
  color: #141414;
  font-size: 18px;
  font-family: "Questrial", sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer__a {
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  padding-bottom: 10px;
}

.footer__image {
  width: 65%;
  height: 45px;
  background-image: url(../imagenes/Logos.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}

.footer__logo {
  width: 80%;
  height: 40px;
  background-image: url(../imagenes/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .footer__sections {
    margin-bottom: 15px;
    margin-left: 40px;
  }
  .footer__titles {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .footer__a {
    font-size: 10px;
    padding-bottom: 5px;
  }
  .footer__image {
    padding: 15px;
  }
  .footer__logo {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
  .footer__sections {
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .footer__titles {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .footer__a {
    font-size: 8px;
    padding-bottom: 5px;
  }
  .footer__image {
    width: 60px;
    padding: 15px;
  }
  .footer__logo {
    width: 100%;
    height: 30px;
    margin: 0;
    margin-top: 30px;
  }
}

.info {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info__cont {
  margin-left: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 30%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__titlenav {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding: 15px;
}

.info__envios {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding: 15px;
}

.info__ordenar {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__filter {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__a {
  font-size: 18px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  padding: 15px;
  font-style: oblique;
}

.info__a:hover {
  color: #F22C07;
}

.filter__name {
  width: 30px;
  padding-left: 15px;
}

.filter__large {
  width: 300px;
}

@media screen and (max-width: 900px) {
  .info__cont {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 30%;
  }
  .info__titlenav {
    font-size: 14px;
    padding: 10px;
  }
  .info__envios {
    font-size: 14px;
    padding: 10px;
  }
  .info__ordenar {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .info__filter {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .info__a {
    font-size: 14px;
    padding: 10px;
  }
  .info__a:hover {
    color: #F22C07;
  }
  .filter__name {
    width: 25px;
    padding-left: 10px;
  }
  .filter__large {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__cont {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
  }
  .info__titlenav {
    font-size: 14px;
    padding: 10px;
  }
  .info__envios {
    font-size: 14px;
    padding: 10px;
  }
  .info__ordenar {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .info__filter {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .info__a {
    font-size: 14px;
    padding: 10px;
  }
  .info__a:hover {
    color: #F22C07;
  }
  .filter__name {
    width: 25px;
    padding-left: 10px;
  }
  .filter__large {
    width: 250px;
  }
}

.admin {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin__container {
  width: 80%;
  background-color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px;
}

.admin__cont {
  color: white;
}

.admin__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.admin__info {
  width: 80%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin__title {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding: 15px;
}

.admin__accion {
  padding: 30px;
}

.admin__category {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .admin__container {
    width: 90%;
  }
}

.productslist {
  background-color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  width: 90%;
  background-color: #141414;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.product__img {
  width: 170px;
}

.product__info {
  margin-left: 50px;
  width: 60%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__name {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  padding: 10px;
}

.product__price {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 32px;
  padding: 10px;
}

.product__descrip {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding: 10px;
}

.product__category {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding: 10px;
}

.product__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .productslist {
    margin-top: 20px;
  }
  .product__img {
    width: 100px;
  }
  .product__name {
    font-size: 18px;
  }
  .product__price {
    font-size: 24px;
  }
  .product__descrip {
    font-size: 14px;
  }
  .product__category {
    font-size: 14px;
  }
  .product__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .productslist {
    margin-top: 10px;
  }
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__img {
    width: 80px;
  }
  .product__name {
    font-size: 14px;
  }
  .product__price {
    font-size: 18x;
  }
  .product__descrip {
    font-size: 14px;
  }
  .product__category {
    font-size: 14px;
  }
  .product__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forms {
  width: 100%;
  height: 100vh;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forms__image {
  background-image: url(../imagenes/Logo.png);
  width: 500px;
  height: 150px;
  background-size: cover;
}

.forms__p {
  font-family: "Questrial", sans-serif;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.forms__a {
  font-family: "Questrial", sans-serif;
  color: white;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.forms__a:hover {
  color: #F22C07;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__label {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  color: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  width: 300px;
  height: 40px;
}

.auth {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

.auth__profile span {
  padding-right: 10px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
}

.auth__image {
  padding-right: 10px;
}

.auth__signout {
  padding-right: 30px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .auth__profile span {
    font-size: 14px;
  }
  .auth__image {
    width: 20%;
    padding-right: 10px;
  }
  .auth__signout {
    font-size: 14px;
  }
}

.details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1D1D1D;
}

.details__image {
  margin-top: 50px;
  background-color: #141414;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.details__info {
  margin-top: 50px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__title {
  margin-top: 100px;
  color: white;
  font-size: 36px;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.details__price {
  color: white;
  font-size: 32px;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.details__text {
  margin: 40px;
  color: white;
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.details__det {
  padding-top: 100px;
  margin-left: 100px;
  color: white;
  font-size: 36px;
  font-family: "Questrial", sans-serif;
}

.details__cont {
  background-color: #1D1D1D;
}

.details__descri {
  margin: 40px;
  color: white;
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  padding-bottom: 100px;
}

.details__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  background-size: cover;
}

.details__images1 {
  padding: 20px;
}

.details__images2 {
  padding: 20px;
}

.details__images3 {
  padding: 20px;
}

.imageproduct {
  margin: 20px;
  width: 70%;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .details__title {
    font-size: 24px;
  }
  .details__image {
    width: 90%;
  }
  .details__price {
    font-size: 24px;
  }
  .details__text {
    font-size: 16px;
  }
  .details__det {
    font-size: 24px;
  }
  .details__descri {
    margin: 20px;
    font-size: 16px;
  }
  .imageproduct {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details__image {
    width: 100%;
  }
  .details__info {
    margin-top: 10px;
    width: 100%;
  }
  .details__title {
    margin-top: 30px;
    font-size: 16px;
  }
  .details__price {
    font-size: 16px;
  }
  .details__text {
    font-size: 14px;
  }
  .details__det {
    margin-left: 30px;
    font-size: 24px;
  }
  .details__descri {
    font-size: 14px;
  }
  .details__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    background-size: cover;
  }
  .details__images1 {
    padding: 10px;
  }
  .details__images2 {
    padding: 10px;
  }
  .details__images3 {
    padding: 10px;
  }
  .imageproduct {
    margin: 20px;
    width: 70%;
    background-size: cover;
  }
}

.perfil {
  background-color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.perfil__cont {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 40%;
  color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfil__info {
  color: white;
  text-align: right;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  padding: 15px;
}

.perfil__image {
  width: 50%;
}

.perfil__title {
  color: white;
  text-align: right;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  padding: 15px;
}

.perfil__span {
  text-align: right;
  padding-right: 10px;
  font-size: 32px;
  color: white;
  font-family: "Questrial", sans-serif;
}

.order__cont {
  margin-left: 50px;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__info {
  margin-left: 10px;
  margin: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__name {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .perfil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .perfil__cont {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    color: #1D1D1D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .perfil__info {
    font-size: 14px;
    padding: 15px;
  }
  .perfil__image {
    width: 40%;
  }
  .perfil__title {
    text-align: center;
    font-size: 18px;
  }
  .perfil__span {
    padding-right: 50px;
    font-size: 24px;
  }
  .order__cont {
    margin-left: 5px;
  }
  .order__name {
    font-size: 18px;
    padding: 10px;
  }
}

.car {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car__btn {
  width: 20%;
  margin: 100px;
}

.car__cont {
  width: 90%;
  background-color: #141414;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car__info {
  margin-left: 50px;
  width: 60%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car__name {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 26px;
  padding: 10px;
}

.car__price {
  text-align: left;
  font-family: "Questrial", sans-serif;
  font-size: 32px;
  padding: 10px;
}

.car__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__priceTotal {
  color: white;
}

@media screen and (max-width: 900px) {
  .car
__info {
    margin-left: 30px;
    width: 60%;
  }
  __name {
    font-size: 16px;
  }
  __price {
    font-size: 24px;
    padding: 10px;
  }
  .product__priceTotal {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .car__cont {
    width: 80%;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .car__info {
    width: 100%;
  }
  .car__name {
    font-size: 20px;
    padding: 2px;
  }
  .car__price {
    font-size: 24px;
    padding: 2px;
  }
  .car .product__priceTotal {
    color: white;
    font-size: 24px;
  }
}

.hidden {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 1px;
}

:root {
  --background-white: #fffffd;
  --background-blue: #141414;
  --pokeball-red: #fd5365;
  --pokeball-grey: #f0f0f0;
  --pokeball-black: #615e69;
}

.contPokemon {
  color: #70757a;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-blue);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.pokeball {
  min-width: 300px;
  width: 300px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: 50px 200px;
  -webkit-transition: all 0.5s ease-in 0.3s;
  transition: all 0.5s ease-in 0.3s;
}

.pokeball.open {
  background-color: var(--background-white);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.pokeball button {
  border: 1px solid var(--pokeball-black);
  background-color: var(--pokeball-grey);
  -webkit-box-shadow: inset 0px -3px 0px 0px #bdbdbd, inset 0px -4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black);
          box-shadow: inset 0px -3px 0px 0px #bdbdbd, inset 0px -4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black);
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  -webkit-transition: top 1s;
  transition: top 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  cursor: pointer;
}

.pokeball button:active {
  outline: 0;
  -webkit-box-shadow: inset 0px 3px 0px 0px #bdbdbd, inset 0px 4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black);
          box-shadow: inset 0px 3px 0px 0px #bdbdbd, inset 0px 4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black);
}

.pokeball button:focus {
  outline: 0;
}

.pokeball.open button {
  top: 10%;
  -webkit-box-shadow: inset 0px -3px 0px 0px #bdbdbd, inset 0px -4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black), 0px 5px 0px 24px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -3px 0px 0px #bdbdbd, inset 0px -4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black), 0px 5px 0px 24px rgba(0, 0, 0, 0.1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.pokeball.open button:active {
  outline: 0;
  -webkit-box-shadow: inset 0px 3px 0px 0px #bdbdbd, inset 0px 4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black), 0px 5px 0px 24px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 3px 0px 0px #bdbdbd, inset 0px 4px 0px 0px var(--pokeball-black), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 10px var(--pokeball-grey), 0px 0px 0px 24px var(--pokeball-black), 0px 5px 0px 24px rgba(0, 0, 0, 0.1);
}

.pokeball::before {
  content: '';
  width: 100%;
  top: 0;
  background-color: var(--pokeball-red);
  position: absolute;
  height: calc(50% - 9px);
  border-bottom: 18px solid var(--pokeball-black);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.pokeball.open::before {
  top: -40%;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.pokeball::after {
  content: '';
  width: 100%;
  background-color: white;
  position: absolute;
  top: calc(50% + 9px);
  height: calc(50% - 2px);
  border-top: 2px solid var(--pokeball-black);
  background-image: radial-gradient(var(--pokeball-black) 35px, transparent 35px), radial-gradient(black 35px, transparent 36px), radial-gradient(var(--pokeball-black) 47px, transparent 47px);
  background-size: 96px 96px;
  background-position: 50% -57px;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.pokeball.open::after {
  top: 90%;
  -webkit-box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.pokeball button svg {
  margin: 0 0 4px 4px;
}

.pokeball button:active svg {
  margin: 4px 0 0 4px;
}

.pokeball article {
  padding: 0 20px;
  font-size: 13px;
  line-height: 1.5;
}

.pokeball h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  font-size: 21px;
  font-weight: normal;
  color: #111;
}

.pokeball h1 span:last-child {
  font-weight: lighter;
}

.pokeball p {
  margin: 20px 0;
}

.pokeball ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  -webkit-column-gap: 22px;
          column-gap: 22px;
}

.pokeball li {
  margin: 0 0 4px 0;
}

.pokeball label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
}

.pokeball label span:last-child {
  color: black;
}

.pokeball meter {
  width: 100%;
  height: 6px;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  color: transparent;
  font-size: 0;
}

.pokeball meter::-webkit-meter-bar {
  background: none;
  background-color: #d8d8d8;
  border: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.pokeball meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #60ca60;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.pokeball meter::-webkit-meter-suboptimum-value {
  background: none;
  background-color: #f0c85c;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.pokeball meter::-webkit-meter-even-less-good-value {
  background: none;
  background-color: #ee7863;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.tags span {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-right: 4px;
}

span.fire {
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: #fb613e;
}

span.flying {
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: #5684b5;
}

.pokemon {
  position: relative;
  text-align: center;
  margin-left: 60px;
}

.pokemon img {
  width: 400px;
  background-image: radial-gradient(#5684b5 60%, transparent 60%);
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  -webkit-filter: url(#test);
          filter: url(#test);
}

.summon {
  position: absolute;
}

@media only screen and (min-width: 765px) {
  .pokeball {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media only screen and (max-width: 400px) {
  .pokeball {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .pokemon {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .contPokemon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #141414;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating {
  margin: 10px;
  width: 50%;
  color: white;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

.container {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  -webkit-transition: .3s;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

img {
  width: 46%;
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #1d1d1d 0% #1d1d1d 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper:after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgbargba(29, 29, 29, 1)), color-stop(35%, #1d1d1d), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, rgbargba(29, 29, 29, 1) 0%, #1d1d1d 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  -webkit-transform: translateY(-105px);
          transform: translateY(-105px);
}

#rating-2:checked ~ .emoji-wrapper > .emoji {
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
}

#rating-3:checked ~ .emoji-wrapper > .emoji {
  -webkit-transform: translateY(-318px);
          transform: translateY(-318px);
}

#rating-4:checked ~ .emoji-wrapper > .emoji {
  -webkit-transform: translateY(-418px);
          transform: translateY(-418px);
}

#rating-5:checked ~ .emoji-wrapper > .emoji {
  -webkit-transform: translateY(-525px);
          transform: translateY(-525px);
}

.feedback {
  max-width: 360px;
  background-color: #1D1D1D;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
/*# sourceMappingURL=main.css.map */